* {
}
html {
  background-image: url("../images/cloth.png");
  position: relative;
  min-height: 100%;
}
body {
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  line-height:30px;
  margin: 0 0 100px;
}
p {
  margin-bottom:10px;
}
a {
  text-decoration:none;
  color:#777777;
}
h1 {
  font-size:26px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color:#ffffff;
  font-weight:600;
  line-height:90px;
}
h2 {
  font-size:26px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color:#4aaaa5;
  font-weight:600;
  line-height:90px;
  border-bottom:2px solid #dddddd;
  margin-bottom:30px;
}
h3 {
  font-size:20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color:#4aaaa5;
  font-weight:600;
  line-height:65px;
}
.container {
  margin: 0 auto;
  width:960px;
  position:relative;
  top:40px;
}
.headercontainer {
  margin: 0 auto;
  width:960px;
}
header {
  background:#ffffff;
  height:88px;
  border-bottom:2px solid #cccccc;
}
.logo {
  width:230px;
  height:88px;
  padding-left:25px;
  float:left;
  background-color:#4aaaa5;
}
nav {
  padding-top:30px;
  height:30px;
  background:#fff;
  float:right;
}
section {
  width:598px;
  padding-left:25px;
  padding-right:25px;
  float:left;
  background:#ffffff;
  border:1px solid #dddddd;
  margin-bottom:100px;
  padding-bottom:30px;
}
aside {
  padding-left: 25px;
  padding-right: 25px;
  margin-left:40px;
  width:218px;
  height:245px;
  float:left;
  background:#ffffff;
  border:1px solid #dddddd;
}
.socialbox {
  border-top:1px solid #dddddd;
  padding-top:15px;
}
.sociallogo {
  width:64px;
  margin-right:8px;
  margin-top:10px;
}
.lastsociallogo {
  width:64px;
  margin-top:10px;
}
footer {
  position:absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background:#666666;
  color:#ffffff;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height:100px;
  text-align:center;
}
.navitemborder {
  width:70px;
  height:20px;
  border-left:1px solid #f1f1f1;
  padding:3px;
  float:left;
  text-align: center;
  line-height:20px;
}
.navitemborder:hover {
  width:70px;
  height:20px;
  border-left:1px solid #f1f1f1;
  padding:3px;
  float:left;
  text-align: center;
  background-color:#4aaaa5;
  line-height:20px;
}
.navitem {
  width:70px;
  height:20px;
  float:left;
  padding:3px;
  text-align: center;
  line-height:20px;
}
.navitem:hover {
    background-color:#4aaaa5;
    color: #ffffff;
    width:70px;
    height:20px;
    float:left;
    padding:3px;
    text-align: center;
    line-height:20px;
}
.leftfloatimg{
  width:200px;
  height:150px;
  margin-bottom:10px;
  margin-right:20px;
  float:left;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
textarea {
  width:100%;
  height:200px;
}
input {
  width:100%;
}
.button {
    background-color:#4aaaa5;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color:#4aaaa5;
    color: #ffffff;
    border: 1px solid #4aaaa5;;
}

.button1:hover {
    background-color:#ffffff;
    color: #777777;
}
.portfoliocolumn1 {

}
.imageholdercol1 {
  position: relative;
  margin-bottom:60px;
  margin-right:48px;
  float:left;
}
.imageholdercol1 img {
  width:275px;
  height:205px;
}
.imageholdercol1 span {
    position: absolute;
    left:0px;
    bottom: 20px;
    width:100%;
    text-align:center;
    font-size:20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#ffffff;
    font-weight:600;
    line-height:60px;
    background-color:#4aaaa5;
}
.imageholdercol2 {
  position: relative;
  margin-bottom:60px;
  float:left;
}
.imageholdercol2 img {
  width:275px;
  height:205px;
}
.imageholdercol2 span {
    position: absolute;
    left:0px;
    bottom: 20px;
    width:100%;
    text-align:center;
    font-size:20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#ffffff;
    font-weight:600;
    line-height:60px;
    background-color:#4aaaa5;
}